$themes: (
    'default': (
        background: #2C2C3D,
        primary: #FFFFFF,
        accent: #7d49ff,
    ),
    'blue': (
        background: #4361ee,
        primary: #FFFFFF,
        accent: #4cc9f0,
    ),
    'pink': (
        background: #ff499e,
        primary: #FFFFFF,
        accent: #f4d35e,
    ),
    'red': (
        background: #ef233c,
        primary: #FFFFFF,
        accent: #f4d35e,
    ),
    'purple': (
        background: #7161ef,
        primary: #FFFFFF,
        accent: #56cfe1,
    ),
    'green': (
        background: #4b7f52,
        primary: #FFFFFF,
        accent: #7dd181,
    ),
    'orange': (
        background: #f95738,
        primary: #FFFFFF,
        accent: #f4d35e,
    )
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {

        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }

    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}
