.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {

            @include themify($themes) {
                background-color: themed('accent');
            }

            &:before {
                -webkit-transform: translateX(18px);
                -ms-transform: translateX(18px);
                transform: translateX(18px);
            }
        }
    }
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .2);
    -webkit-transition: .2s;
    transition: .2s;

    &.round {
        border-radius: 9px;

        &:before {
            border-radius: 50%;
        }
    }

    &:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 0;
        top: 0;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}
